* {
  box-sizing: border-box;
}

body {
  font-family: arial, sans-serif;
}

body, div, nav, ul {
  margin: 0;
  padding: 0;
}

.top-navbar ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   text-align: right;
  }

.top-navbar ul li {
  display: inline-block;
}

.main-content {
  text-align: center;
  vertical-align: middle;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer {
  background-color: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  line-height: 40px;
  font-size: 16px;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0px;
}
#country {
  margin-left: 23px;
  color: rgb(102, 102, 102);
  cursor: pointer;
  text-decoration: none;
  font-size: 13px;
  border-bottom: 1px solid #e4e4e4;
}
footer span a {

  margin-left: 23px;
  color: rgb(102, 102, 102);
  cursor: pointer;
  text-decoration: none;
  font-size: 13px;
}

footer span a:hover {
  text-decoration: underline;
}


#footer-left {
  margin-left: 0px;
}

#footer-right {
  float: right;
  margin-right: 30px;
}
